@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url(../fonts/sofia-sans-extra-condensed-bold.woff);
  font-weight: bold;
}

:root {
  --board-size: 85vmin;
  --line-width: 2px;
  --red: #c9002b;
  --blue: #004b93;
}

body {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-weight: bold;
  transition: opacity 2s ease;
  background-color: white;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  /* background-image: linear-gradient(0deg, transparent 24px, var(--blue) 25px), */
                    /* linear-gradient(90deg, transparent 24px, var(--blue) 25px); */
  /* background-size: 25px 25px; */

  /* background:
        conic-gradient(from 90deg at 1px 1px,#0000 90deg,#004b93 0) 
        0 0/25px 25px; */
}

#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#middle {
  display: table-cell;
  vertical-align: middle;
}

#inner {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: calc(var(--board-size) / 3);
  margin-top: -20px;
  margin-bottom: -5px;
} 

h1 span:nth-child(odd) {
  color: var(--blue);
}

h1 span:nth-child(even) {
  color: var(--red);
}

.level {
  display: flex;
  width: calc(var(--board-size) / 2);
  height: calc(var(--board-size) / 9);
  justify-content: space-between;
  margin: auto;
  margin-bottom: 35px;
}

.star:nth-child(odd) {
  color: var(--red);
}

.star:nth-child(even) {
  color: var(--blue);
}

.star {
  position: relative; 
  font-size: calc(var(--board-size) / 10);
  cursor: pointer;
}

.star:after {
  content: '';
  position: absolute;
  left: calc(var(--board-size) / -38);
  right: calc(var(--board-size) / -38);
  top: -5px;
  bottom: -5px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc(var(--board-size) + calc(var(--line-width) / 2) * 2);
  height: calc(var(--board-size) + calc(var(--line-width) / 2) * 2);
  margin: auto;
  /* border: calc(var(--line-width) / 2) solid var(--blue); */
  /* transform: skewX(-3deg); */
}

.square {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: calc(var(--board-size) / 3);
  height: calc(var(--board-size) / 3);
}

/* .square:nth-child(1) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(2) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(3) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(4) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(5) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(6) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(7) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(8) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(9) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
} */

/* .square:nth-child(1) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(2) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(3) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(4) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(5) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(6) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(7) {
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(8) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(9) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--red);
} */

.square:nth-child(1) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(2) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(3) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(4) {
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(5) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--red);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(6) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(7) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--red);
}

.square:nth-child(8) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(9) {
  border-left: calc(var(--line-width) / 2) solid var(--red);
  border-top: calc(var(--line-width) / 2) solid var(--red);
}

/* .square:nth-child(1) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(2) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(3) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(4) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(5) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(6) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
  border-bottom: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(7) {
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(8) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-right: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
}

.square:nth-child(9) {
  border-left: calc(var(--line-width) / 2) solid var(--blue);
  border-top: calc(var(--line-width) / 2) solid var(--blue);
} */

.mark {
  position: relative;
  width: calc(var(--board-size) / 3 * 0.65);
  height: calc(var(--board-size) / 3 * 0.65);
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.filled .regular, .win .bold{
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.reset {
  transition: opacity 0.5s ease-in-out;
}

#designed {
  text-align: center;
  align-self: auto;
  font-size: 16px; 
  margin-top: 16px;
}

#designed span:nth-child(odd) {
  color: var(--red);
}

#designed span:nth-child(even) {
  color: var(--blue);
}

@media (prefers-color-scheme: dark) {

  :root {
    --red: #a10022;
    --blue: #005ab0;
  }

  body {
      background-color: black;
  }

  .x {
    filter: brightness(120%);
  }

  .o {
    filter: brightness(80%);
  }
}

@media (orientation: landscape) and (max-height: 460px) {

  h1, .level {
    display: none;
  }

  .board {
    margin-top: 0;
  }
}

@media (max-width: 320px), (max-height: 320px) {

  h1 {
    margin-bottom: -10px;
  } 

  /* .level {
    margin-bottom: 30px;
  } */
}

@media (min-width: 460px) and (min-height: 460px) {

  :root {
    --board-size-big: 402px;
  }

  h1 {
    font-size: 128px;
  }

  .level {
    width: calc(var(--board-size-big) / 2);
    height: calc(var(--board-size-big) / 9);
    /* margin-top: -10px; */
    margin-bottom: 30px;
  }

  .star {
    font-size: 33px;
  }

  .star:after {
    top: -5px;
    bottom: -5px;
    left: -13px;
    right: -13px;
  }

  .board {
    width: calc(var(--board-size-big) + calc(var(--line-width) / 2) * 2);
    height: calc(var(--board-size-big) + calc(var(--line-width) / 2) * 2);
  }

  .square {
    width: calc(var(--board-size-big) / 3);
    height: calc(var(--board-size-big) / 3);
  } 

  .mark {
    width: calc(var(--board-size-big) / 3 * 0.65);
    height: calc(var(--board-size-big) / 3 * 0.65);
  }

  #designed {
    font-size: 14.5px; 
    margin-top: 16px;
  }
}

.noselect {
  -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
          -webkit-user-select: none; 
             -moz-user-select: none; 
              -ms-user-select: none; 
                  user-select: none; 
}